$color-one: rgba(255, 0, 0, 0.745);
$color-two: black;
$color-three: white;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flexcenter ($direction) {
    display: flex;
    flex-direction: $direction;

    
}

